<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager>
    <ion-slide class="slide_img">
      <img src="assets/images/slide-1.png" alt="">
      <br />
      <h2>Slide 1</h2>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/images/slide-2.png" alt="">
      <br />
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide class="slide_img">
      <img src="assets/images/slide-3.png" alt="">
      <br />
      <h2>Slide 3</h2>
      <br>
      <a href ="tabs/tab1">Continuar</a>
      <br/>
    </ion-slide>
  </ion-slides>
</ion-content>